body {
  margin: 0;
  padding: 0; }

.page-wrapper {
  max-width: 1024px;
  margin: 0 auto; }
.stock-item {
  padding: 5px 0; }
  .stock-item .link {
    display: inline-block;
    text-decoration: none;
    color: #14171a; }
    .stock-item .link:visited {
      color: #14171a; }
    .stock-item .link:hover {
      opacity: 0.8; }
  .stock-item .symbol {
    font-size: 1.8em;
    font-weight: 500;
    margin-right: 5px;
    display: block; }
.stock-filter {
  padding: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .stock-filter {
      padding: 40px; } }
  .stock-filter .search {
    padding: 5px;
    font-size: 1.6em;
    border: none;
    border-bottom: dashed 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px; }
.stock-list.list {
  padding: 0 20px;
  padding: 0;
  list-style-type: none; }
  @media only screen and (min-width: 768px) {
    .stock-list.list {
      padding: 0 40px; } }
@keyframes loading-dot-left {
  50% {
    transform: translateX(15px); } }

@keyframes loading-dot-right {
  50% {
    transform: translateX(-15px); } }

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 0; }
  .loading .dot {
    width: calc(100px/3);
    height: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0; }
    .loading .dot::after {
      content: ' ';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #14171a; }
  .loading :nth-child(1) {
    animation: loading-dot-left 300ms ease-out infinite; }
  .loading :nth-child(3) {
    animation: loading-dot-right 300ms ease-out infinite; }
.stock-quote-item {
  padding: 20px; }
  @media only screen and (min-width: 768px) {
    .stock-quote-item {
      padding: 40px; } }
  .stock-quote-item .title {
    font-size: 2.5em; }
    .stock-quote-item .title span {
      margin-left: 10px;
      opacity: 0.6;
      font-size: 1rem; }
